{% extends 'base.html' %}
{% block content %}

<div class="form form__login">
    <h3>Se connecter</h3>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <br>
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          {{ message.message }}
        {% endfor %}
      </div>
      {% endif %}
      <input class="btn btn-secondary" type="submit" value="Se connecter"></br>
      <p>Vous n'êtes pas encore inscrit ? 
        <a href="{% url 'signup' %}">S'inscrire</a>
      </p>
    </form>
</div>

{% endblock content %}